.imgCarrito {
    width: 4rem;
    mix-blend-mode: color-burn;
}

.imgCarrito:hover {
    background-color: #311438;
}

.itemsIndicador {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-left: 1rem;
}