.imgCarrito {
    width: 4rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.itemsIndicador {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-left: 1rem;
}