.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
}

.orderId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.btnCheck {
    background-color: #6d2c7d;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.btnCheck:hover {
    background-color: #311438;
}

.msjOrden {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}