header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logoVinoteca {
    width: 10rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}



.navBarBtn {
    background-color: #6d2c7d;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.navBarBtn:hover {
    background-color: #311438;
}

.fondoNav {
    background-color: #975ba6;
}