.miBtn {
    background-color: #6d2c7d;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.miBtn:hover {
    background-color: #311438;
}